<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd 
     http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd">

	<!-- 配置文件 -->
	<context:property-placeholder location="classpath:config/prop/config.properties" />

	<!-- 使用工厂创建mongo实例 -->
	<bean id="mongo" class="com.csczn.test.morphia.factory.MongoFactoryBean">

		<!-- 是否主从分离(读取从库)，默认为false，读写都在主库 -->
		<property name="readSecondary" value="${mongoDB.options.readSecondary}" />

		<property name="writeConcern" value="${mongoDB.options.writeConcern}" />

		<property name="connectionsPerHost" value="${mongoDB.options.maxWaitTime}" />

		<property name="threadsAllowedToBlockForConnectionMultiplier"
			value="${mongoDB.options.threadsAllowedToBlockForConnectionMultiplier}" />

		<property name="maxWaitTime" value="${mongoDB.options.maxWaitTime}" />

		<property name="connectTimeout" value="${mongoDB.options.connectTimeout}" />

		<!-- 设定服务器列表 -->
		<property name="serverStrings">
			<array>
				<value>${mongoDB.server1}</value>
				<value>${mongoDB.server2}</value>
				<value>${mongoDB.server3}</value>
			</array>
		</property>

		<!-- 设定服务器用户列表 -->
		<!-- <property name="authStrings">
			<array>
				<value>${mongoDB.userName}:${mongoDB.dbName}:${mongoDB.password}</value>
			</array>
		</property> -->
	</bean>


	<!-- 使用工厂创建morphia实例，同时完成类映射操作 -->
	<bean id="morphia" class="com.csczn.test.morphia.factory.MorphiaFactoryBean"/>

	<!-- 使用工厂创建datastore，同时完成index和caps的确认操作 -->
	<bean id="scf:mongodb_ds" class="com.csczn.test.morphia.factory.DatastoreFactoryBean">
		<property name="morphia" ref="morphia" />
		<property name="mongoClient" ref="mongo" />

		<!-- collection的名称 -->
		<property name="dbName" value="${mongoDB.dbName}" />

		<!-- 用户名和密码可以为空 -->
		<!-- <property name="username" value="my_username"/> <property name="password" 
			value="my_password"/> -->

		<!-- 是否进行index和caps的确认操作，默认为flase -->
		<property name="toEnsureIndexes" value="true" />
		<property name="toEnsureCaps" value="true" />
	</bean>

	<!-- ===============以下是具体DAO的实现===================== -->

	<bean id="dao" class="com.csczn.test.morphia.dao.TestDao">
		<constructor-arg ref="scf:mongodb_ds" />
	</bean>

</beans> 